*
  box-sizing: border-box

body
  font-family: 'Lato', sans-serif
  background-color: $secondary
  color: $text-color

.container
  max-width: 1140px
  margin: auto

img
  max-width: 100%

.button
  min-width: 154px
  min-height: 40px
  padding: 10px 20px
  font-style: normal
  font-weight: bold
  font-size: 14px
  line-height: 20px
  color: $light
  background-color: $primary
  border-radius: 20px
  border: none
  cursor: pointer
  outline: none
