*
  box-sizing: border-box
//@font-face
//  font-family: "Lato-Bold", serif
//  src: url("../font/latobold.woff") format("woff"), url("../font/latobold.woff2") format("woff2")
//@font-face
//  font-family: "Lato-Regular", serif
//  src: url("../font/latoregular.woff") format("woff"), url("../font/latoregular.woff2") format("woff2")

body
  font-family: 'Lato', sans-serif
  background-color: $secondary
  color: $text-color

.container
  max-width: 1140px
  margin: auto
  &-2
    max-width: 946px
    margin: auto

img
  max-width: 100%

.button
  //min-width: 154px
  min-height: 40px
  padding: 10px 20px
  font-style: normal
  font-weight: bold
  font-size: 14px
  line-height: 20px
  color: $light
  background-color: $primary
  border-radius: 20px
  border: none
  cursor: pointer
  outline: none

.button:hover
  background-color: #3586ff

.input
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 20px
  color: #939699
  border-radius: 5px
  border: 1px solid $line
  padding: 10px 15px
  outline: none
  outline: none

.message
  resize: none
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 20px
  color: #939699
  border-radius: 5px
  border: 1px solid $line
  padding: 10px 15px
  outline: none

.invalid
  color: $primary
a
  text-decoration: none
  color: inherit