.navbar
  padding-top: 15px
  padding-bottom: 15px
  background-color: $dark
  position: fixed
  width: 100%
  z-index: 50

  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center

    &__menu-button
      display: none

  &-menu
    width: 540px
    list-style-type: none
    display: flex
    justify-content: space-between
    padding: 0

    &__link
      text-decoration: none
      color: $light
      font-weight: 900
      font-size: 14px
      line-height: 20px

.logo
  width: 163px

.button-feedback
  padding: 10px 62px
  background-color: #656B70
  border-radius: 10px
  color: $light
  font-weight: normal
  font-size: 14px
  line-height: 20px
  text-transform: uppercase
  border: none
  cursor: pointer
  outline: none


