.popular
  margin-bottom: 30px

  &__wrapper
    display: flex
    padding: 25px 25px 30px 25px
    background-color: $dark
    border-radius: 10px
    justify-content: space-between
    //grid-template-columns: repeat(4, max-content)
    //grid-template-rows: repeat(1, 1fr)

  &__article
    display: flex
    align-items: center

    &__content
      display: flex
      align-items: center
      //justify-content: space-between
      justify-content: flex-end

      //max-width: 236px


    &__title
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
      color: $light
      margin-right: 15px
      max-width: 156px


    &__image
      width: 65px
      height: 65px

    &__line
      width: 1px
      height: 75px
      background-color: #4B5157
      margin-right: 25px
      margin-left: 25px

