.table-articles
  background-color: $dark
.table
  display: flex
  &__swiper
    margin-right: 30px
  &__right
    display: flex
    flex-direction: column
  &__career
    margin-bottom: 30px
  &__bottom
    display: flex
    justify-content: space-between